/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:73 */
.fa-adjust:before {
    content: "\f042" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:74 */
.fa-tint:before {
    content: "\f043" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:75 */
.fa-edit:before,
.fa-pencil-square-o:before {
    content: "\f044" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:77 */
.fa-share-square-o:before {
    content: "\f045" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:78 */
.fa-check-square-o:before {
    content: "\f046" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:79 */
.fa-arrows:before {
    content: "\f047" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:80 */
.fa-step-backward:before {
    content: "\f048" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:81 */
.fa-fast-backward:before {
    content: "\f049" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:82 */
.fa-backward:before {
    content: "\f04a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:83 */
.fa-play:before {
    content: "\f04b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:84 */
.fa-pause:before {
    content: "\f04c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:85 */
.fa-stop:before {
    content: "\f04d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:86 */
.fa-forward:before {
    content: "\f04e" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:87 */
.fa-fast-forward:before {
    content: "\f050" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:88 */
.fa-step-forward:before {
    content: "\f051" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:89 */
.fa-eject:before {
    content: "\f052" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:90 */
.fa-chevron-left:before {
    content: "\f053" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:91 */
.fa-chevron-right:before {
    content: "\f054" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:92 */
.fa-plus-circle:before {
    content: "\f055" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:93 */
.fa-minus-circle:before {
    content: "\f056" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:94 */
.fa-times-circle:before {
    content: "\f057" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:95 */
.fa-check-circle:before {
    content: "\f058" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:96 */
.fa-question-circle:before {
    content: "\f059" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:97 */
.fa-info-circle:before {
    content: "\f05a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:98 */
.fa-crosshairs:before {
    content: "\f05b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:99 */
.fa-times-circle-o:before {
    content: "\f05c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:100 */
.fa-check-circle-o:before {
    content: "\f05d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:101 */
.fa-ban:before {
    content: "\f05e" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:102 */
.fa-arrow-left:before {
    content: "\f060" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:103 */
.fa-arrow-right:before {
    content: "\f061" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:104 */
.fa-arrow-up:before {
    content: "\f062" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:105 */
.fa-arrow-down:before {
    content: "\f063" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:106 */
.fa-mail-forward:before,
.fa-share:before {
    content: "\f064" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:108 */
.fa-expand:before {
    content: "\f065" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:109 */
.fa-compress:before {
    content: "\f066" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:110 */
.fa-plus:before {
    content: "\f067" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:111 */
.fa-minus:before {
    content: "\f068" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:112 */
.fa-asterisk:before {
    content: "\f069" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:113 */
.fa-exclamation-circle:before {
    content: "\f06a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:114 */
.fa-gift:before {
    content: "\f06b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:115 */
.fa-leaf:before {
    content: "\f06c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:116 */
.fa-fire:before {
    content: "\f06d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:117 */
.fa-eye:before {
    content: "\f06e" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:118 */
.fa-eye-slash:before {
    content: "\f070" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:119 */
.fa-warning:before,
.fa-exclamation-triangle:before {
    content: "\f071" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:121 */
.fa-plane:before {
    content: "\f072" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:122 */
.fa-calendar:before {
    content: "\f073" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:123 */
.fa-random:before {
    content: "\f074" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:124 */
.fa-comment:before {
    content: "\f075" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:125 */
.fa-magnet:before {
    content: "\f076" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:126 */
.fa-chevron-up:before {
    content: "\f077" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:127 */
.fa-chevron-down:before {
    content: "\f078" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:128 */
.fa-retweet:before {
    content: "\f079" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:129 */
.fa-shopping-cart:before {
    content: "\f07a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:130 */
.fa-folder:before {
    content: "\f07b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:131 */
.fa-folder-open:before {
    content: "\f07c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:132 */
.fa-arrows-v:before {
    content: "\f07d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:133 */
.fa-arrows-h:before {
    content: "\f07e" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:134 */
.fa-bar-chart-o:before,
.fa-bar-chart:before {
    content: "\f080" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:136 */
.fa-twitter-square:before {
    content: "\f081" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:137 */
.fa-facebook-square:before {
    content: "\f082" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:138 */
.fa-camera-retro:before {
    content: "\f083" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:139 */
.fa-key:before {
    content: "\f084" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:140 */
.fa-gears:before,
.fa-cogs:before {
    content: "\f085" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:142 */
.fa-comments:before {
    content: "\f086" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:143 */
.fa-thumbs-o-up:before {
    content: "\f087" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:144 */
.fa-thumbs-o-down:before {
    content: "\f088" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:145 */
.fa-star-half:before {
    content: "\f089" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:146 */
.fa-heart-o:before {
    content: "\f08a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:147 */
.fa-sign-out:before {
    content: "\f08b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:148 */
.fa-linkedin-square:before {
    content: "\f08c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:149 */
.fa-thumb-tack:before {
    content: "\f08d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:150 */
.fa-external-link:before {
    content: "\f08e" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:151 */
.fa-sign-in:before {
    content: "\f090" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:152 */
.fa-trophy:before {
    content: "\f091" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:153 */
.fa-github-square:before {
    content: "\f092" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:154 */
.fa-upload:before {
    content: "\f093" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:155 */
.fa-lemon-o:before {
    content: "\f094" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:156 */
.fa-phone:before {
    content: "\f095" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:157 */
.fa-square-o:before {
    content: "\f096" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:158 */
.fa-bookmark-o:before {
    content: "\f097" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:159 */
.fa-phone-square:before {
    content: "\f098" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:160 */
.fa-twitter:before {
    content: "\f099" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:161 */
.fa-facebook-f:before,
.fa-facebook:before {
    content: "\f09a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:163 */
.fa-github:before {
    content: "\f09b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:164 */
.fa-unlock:before {
    content: "\f09c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:165 */
.fa-credit-card:before {
    content: "\f09d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:166 */
.fa-feed:before,
.fa-rss:before {
    content: "\f09e" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:168 */
.fa-hdd-o:before {
    content: "\f0a0" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:169 */
.fa-bullhorn:before {
    content: "\f0a1" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:170 */
.fa-bell:before {
    content: "\f0f3" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:171 */
.fa-certificate:before {
    content: "\f0a3" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:172 */
.fa-hand-o-right:before {
    content: "\f0a4" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:173 */
.fa-hand-o-left:before {
    content: "\f0a5" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:174 */
.fa-hand-o-up:before {
    content: "\f0a6" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:175 */
.fa-hand-o-down:before {
    content: "\f0a7" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:176 */
.fa-arrow-circle-left:before {
    content: "\f0a8" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:177 */
.fa-arrow-circle-right:before {
    content: "\f0a9" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:178 */
.fa-arrow-circle-up:before {
    content: "\f0aa" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:179 */
.fa-arrow-circle-down:before {
    content: "\f0ab" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:180 */
.fa-globe:before {
    content: "\f0ac" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:181 */
.fa-wrench:before {
    content: "\f0ad" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:182 */
.fa-tasks:before {
    content: "\f0ae" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:183 */
.fa-filter:before {
    content: "\f0b0" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:184 */
.fa-briefcase:before {
    content: "\f0b1" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:185 */
.fa-arrows-alt:before {
    content: "\f0b2" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:186 */
.fa-group:before,
.fa-users:before {
    content: "\f0c0" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:188 */
.fa-chain:before,
.fa-link:before {
    content: "\f0c1" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:190 */
.fa-cloud:before {
    content: "\f0c2" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:191 */
.fa-flask:before {
    content: "\f0c3" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:192 */
.fa-cut:before,
.fa-scissors:before {
    content: "\f0c4" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:194 */
.fa-copy:before,
.fa-files-o:before {
    content: "\f0c5" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:196 */
.fa-paperclip:before {
    content: "\f0c6" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:197 */
.fa-save:before,
.fa-floppy-o:before {
    content: "\f0c7" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:199 */
.fa-square:before {
    content: "\f0c8" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:200 */
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
    content: "\f0c9" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:203 */
.fa-list-ul:before {
    content: "\f0ca" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:204 */
.fa-list-ol:before {
    content: "\f0cb" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:205 */
.fa-strikethrough:before {
    content: "\f0cc" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:206 */
.fa-underline:before {
    content: "\f0cd" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:207 */
.fa-table:before {
    content: "\f0ce" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:208 */
.fa-magic:before {
    content: "\f0d0" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:209 */
.fa-truck:before {
    content: "\f0d1" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:210 */
.fa-pinterest:before {
    content: "\f0d2" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:211 */
.fa-pinterest-square:before {
    content: "\f0d3" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:212 */
.fa-google-plus-square:before {
    content: "\f0d4" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:213 */
.fa-google-plus:before {
    content: "\f0d5" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:214 */
.fa-money:before {
    content: "\f0d6" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:215 */
.fa-caret-down:before {
    content: "\f0d7" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:216 */
.fa-caret-up:before {
    content: "\f0d8" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:217 */
.fa-caret-left:before {
    content: "\f0d9" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:218 */
.fa-caret-right:before {
    content: "\f0da" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:219 */
.fa-columns:before {
    content: "\f0db" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:220 */
.fa-unsorted:before,
.fa-sort:before {
    content: "\f0dc" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:222 */
.fa-sort-down:before,
.fa-sort-desc:before {
    content: "\f0dd" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:224 */
.fa-sort-up:before,
.fa-sort-asc:before {
    content: "\f0de" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:226 */
.fa-envelope:before {
    content: "\f0e0" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:227 */
.fa-linkedin:before {
    content: "\f0e1" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:228 */
.fa-rotate-left:before,
.fa-undo:before {
    content: "\f0e2" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:230 */
.fa-legal:before,
.fa-gavel:before {
    content: "\f0e3" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:232 */
.fa-dashboard:before,
.fa-tachometer:before {
    content: "\f0e4" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:234 */
.fa-comment-o:before {
    content: "\f0e5" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:235 */
.fa-comments-o:before {
    content: "\f0e6" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:236 */
.fa-flash:before,
.fa-bolt:before {
    content: "\f0e7" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:238 */
.fa-sitemap:before {
    content: "\f0e8" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:239 */
.fa-umbrella:before {
    content: "\f0e9" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:240 */
.fa-paste:before,
.fa-clipboard:before {
    content: "\f0ea" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:242 */
.fa-lightbulb-o:before {
    content: "\f0eb" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:243 */
.fa-exchange:before {
    content: "\f0ec" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:244 */
.fa-cloud-download:before {
    content: "\f0ed" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:245 */
.fa-cloud-upload:before {
    content: "\f0ee" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:246 */
.fa-user-md:before {
    content: "\f0f0" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:247 */
.fa-stethoscope:before {
    content: "\f0f1" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:248 */
.fa-suitcase:before {
    content: "\f0f2" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:249 */
.fa-bell-o:before {
    content: "\f0a2" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:250 */
.fa-coffee:before {
    content: "\f0f4" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:251 */
.fa-cutlery:before {
    content: "\f0f5" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:252 */
.fa-file-text-o:before {
    content: "\f0f6" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:253 */
.fa-building-o:before {
    content: "\f0f7" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:254 */
.fa-hospital-o:before {
    content: "\f0f8" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:255 */
.fa-ambulance:before {
    content: "\f0f9" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:256 */
.fa-medkit:before {
    content: "\f0fa" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:257 */
.fa-fighter-jet:before {
    content: "\f0fb" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:258 */
.fa-beer:before {
    content: "\f0fc" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:259 */
.fa-h-square:before {
    content: "\f0fd" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:260 */
.fa-plus-square:before {
    content: "\f0fe" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:261 */
.fa-angle-double-left:before {
    content: "\f100" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:262 */
.fa-angle-double-right:before {
    content: "\f101" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:263 */
.fa-angle-double-up:before {
    content: "\f102" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:264 */
.fa-angle-double-down:before {
    content: "\f103" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:265 */
.fa-angle-left:before {
    content: "\f104" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:266 */
.fa-angle-right:before {
    content: "\f105" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:267 */
.fa-angle-up:before {
    content: "\f106" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:268 */
.fa-angle-down:before {
    content: "\f107" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:269 */
.fa-desktop:before {
    content: "\f108" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:270 */
.fa-laptop:before {
    content: "\f109" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:271 */
.fa-tablet:before {
    content: "\f10a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:272 */
.fa-mobile-phone:before,
.fa-mobile:before {
    content: "\f10b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:274 */
.fa-circle-o:before {
    content: "\f10c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:275 */
.fa-quote-left:before {
    content: "\f10d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:276 */
.fa-quote-right:before {
    content: "\f10e" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:277 */
.fa-spinner:before {
    content: "\f110" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:278 */
.fa-circle:before {
    content: "\f111" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:279 */
.fa-mail-reply:before,
.fa-reply:before {
    content: "\f112" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:281 */
.fa-github-alt:before {
    content: "\f113" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:282 */
.fa-folder-o:before {
    content: "\f114" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:283 */
.fa-folder-open-o:before {
    content: "\f115" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:284 */
.fa-smile-o:before {
    content: "\f118" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:285 */
.fa-frown-o:before {
    content: "\f119" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:286 */
.fa-meh-o:before {
    content: "\f11a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:287 */
.fa-gamepad:before {
    content: "\f11b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:288 */
.fa-keyboard-o:before {
    content: "\f11c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:289 */
.fa-flag-o:before {
    content: "\f11d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:290 */
.fa-flag-checkered:before {
    content: "\f11e" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:291 */
.fa-terminal:before {
    content: "\f120" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:292 */
.fa-code:before {
    content: "\f121" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:293 */
.fa-mail-reply-all:before,
.fa-reply-all:before {
    content: "\f122" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:295 */
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
    content: "\f123" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:298 */
.fa-location-arrow:before {
    content: "\f124" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:299 */
.fa-crop:before {
    content: "\f125" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:300 */
.fa-code-fork:before {
    content: "\f126" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:301 */
.fa-unlink:before,
.fa-chain-broken:before {
    content: "\f127" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:303 */
.fa-question:before {
    content: "\f128" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:304 */
.fa-info:before {
    content: "\f129" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:305 */
.fa-exclamation:before {
    content: "\f12a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:306 */
.fa-superscript:before {
    content: "\f12b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:307 */
.fa-subscript:before {
    content: "\f12c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:308 */
.fa-eraser:before {
    content: "\f12d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:309 */
.fa-puzzle-piece:before {
    content: "\f12e" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:310 */
.fa-microphone:before {
    content: "\f130" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:311 */
.fa-microphone-slash:before {
    content: "\f131" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:312 */
.fa-shield:before {
    content: "\f132" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:313 */
.fa-calendar-o:before {
    content: "\f133" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:314 */
.fa-fire-extinguisher:before {
    content: "\f134" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:315 */
.fa-rocket:before {
    content: "\f135" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:316 */
.fa-maxcdn:before {
    content: "\f136" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:317 */
.fa-chevron-circle-left:before {
    content: "\f137" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:318 */
.fa-chevron-circle-right:before {
    content: "\f138" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:319 */
.fa-chevron-circle-up:before {
    content: "\f139" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:320 */
.fa-chevron-circle-down:before {
    content: "\f13a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:321 */
.fa-html5:before {
    content: "\f13b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:322 */
.fa-css3:before {
    content: "\f13c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:323 */
.fa-anchor:before {
    content: "\f13d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:324 */
.fa-unlock-alt:before {
    content: "\f13e" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:325 */
.fa-bullseye:before {
    content: "\f140" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:326 */
.fa-ellipsis-h:before {
    content: "\f141" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:327 */
.fa-ellipsis-v:before {
    content: "\f142" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:328 */
.fa-rss-square:before {
    content: "\f143" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:329 */
.fa-play-circle:before {
    content: "\f144" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:330 */
.fa-ticket:before {
    content: "\f145" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:331 */
.fa-minus-square:before {
    content: "\f146" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:332 */
.fa-minus-square-o:before {
    content: "\f147" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:333 */
.fa-level-up:before {
    content: "\f148" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:334 */
.fa-level-down:before {
    content: "\f149" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:335 */
.fa-check-square:before {
    content: "\f14a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:336 */
.fa-pencil-square:before {
    content: "\f14b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:337 */
.fa-external-link-square:before {
    content: "\f14c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:338 */
.fa-share-square:before {
    content: "\f14d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:339 */
.fa-compass:before {
    content: "\f14e" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:340 */
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
    content: "\f150" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:342 */
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
    content: "\f151" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:344 */
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
    content: "\f152" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:346 */
.fa-euro:before,
.fa-eur:before {
    content: "\f153" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:348 */
.fa-gbp:before {
    content: "\f154" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:349 */
.fa-dollar:before,
.fa-usd:before {
    content: "\f155" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:351 */
.fa-rupee:before,
.fa-inr:before {
    content: "\f156" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:353 */
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
    content: "\f157" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:357 */
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
    content: "\f158" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:360 */
.fa-won:before,
.fa-krw:before {
    content: "\f159" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:362 */
.fa-bitcoin:before,
.fa-btc:before {
    content: "\f15a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:364 */
.fa-file:before {
    content: "\f15b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:365 */
.fa-file-text:before {
    content: "\f15c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:366 */
.fa-sort-alpha-asc:before {
    content: "\f15d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:367 */
.fa-sort-alpha-desc:before {
    content: "\f15e" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:368 */
.fa-sort-amount-asc:before {
    content: "\f160" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:369 */
.fa-sort-amount-desc:before {
    content: "\f161" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:370 */
.fa-sort-numeric-asc:before {
    content: "\f162" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:371 */
.fa-sort-numeric-desc:before {
    content: "\f163" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:372 */
.fa-thumbs-up:before {
    content: "\f164" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:373 */
.fa-thumbs-down:before {
    content: "\f165" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:374 */
.fa-youtube-square:before {
    content: "\f166" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:375 */
.fa-youtube:before {
    content: "\f167" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:376 */
.fa-xing:before {
    content: "\f168" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:377 */
.fa-xing-square:before {
    content: "\f169" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:378 */
.fa-youtube-play:before {
    content: "\f16a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:379 */
.fa-dropbox:before {
    content: "\f16b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:380 */
.fa-stack-overflow:before {
    content: "\f16c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:381 */
.fa-instagram:before {
    content: "\f16d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:382 */
.fa-flickr:before {
    content: "\f16e" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:383 */
.fa-adn:before {
    content: "\f170" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:384 */
.fa-bitbucket:before {
    content: "\f171" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:385 */
.fa-bitbucket-square:before {
    content: "\f172" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:386 */
.fa-tumblr:before {
    content: "\f173" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:387 */
.fa-tumblr-square:before {
    content: "\f174" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:388 */
.fa-long-arrow-down:before {
    content: "\f175" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:389 */
.fa-long-arrow-up:before {
    content: "\f176" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:390 */
.fa-long-arrow-left:before {
    content: "\f177" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:391 */
.fa-long-arrow-right:before {
    content: "\f178" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:392 */
.fa-apple:before {
    content: "\f179" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:393 */
.fa-windows:before {
    content: "\f17a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:394 */
.fa-android:before {
    content: "\f17b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:395 */
.fa-linux:before {
    content: "\f17c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:396 */
.fa-dribbble:before {
    content: "\f17d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:397 */
.fa-skype:before {
    content: "\f17e" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:398 */
.fa-foursquare:before {
    content: "\f180" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:399 */
.fa-trello:before {
    content: "\f181" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:400 */
.fa-female:before {
    content: "\f182" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:401 */
.fa-male:before {
    content: "\f183" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:402 */
.fa-gittip:before,
.fa-gratipay:before {
    content: "\f184" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:404 */
.fa-sun-o:before {
    content: "\f185" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:405 */
.fa-moon-o:before {
    content: "\f186" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:406 */
.fa-archive:before {
    content: "\f187" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:407 */
.fa-bug:before {
    content: "\f188" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:408 */
.fa-vk:before {
    content: "\f189" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:409 */
.fa-weibo:before {
    content: "\f18a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:410 */
.fa-renren:before {
    content: "\f18b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:411 */
.fa-pagelines:before {
    content: "\f18c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:412 */
.fa-stack-exchange:before {
    content: "\f18d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:413 */
.fa-arrow-circle-o-right:before {
    content: "\f18e" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:414 */
.fa-arrow-circle-o-left:before {
    content: "\f190" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:415 */
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
    content: "\f191" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:417 */
.fa-dot-circle-o:before {
    content: "\f192" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:418 */
.fa-wheelchair:before {
    content: "\f193" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:419 */
.fa-vimeo-square:before {
    content: "\f194" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:420 */
.fa-turkish-lira:before,
.fa-try:before {
    content: "\f195" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:422 */
.fa-plus-square-o:before {
    content: "\f196" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:423 */
.fa-space-shuttle:before {
    content: "\f197" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:424 */
.fa-slack:before {
    content: "\f198" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:425 */
.fa-envelope-square:before {
    content: "\f199" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:426 */
.fa-wordpress:before {
    content: "\f19a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:427 */
.fa-openid:before {
    content: "\f19b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:428 */
.fa-institution:before,
.fa-bank:before,
.fa-university:before {
    content: "\f19c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:431 */
.fa-mortar-board:before,
.fa-graduation-cap:before {
    content: "\f19d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:433 */
.fa-yahoo:before {
    content: "\f19e" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:434 */
.fa-google:before {
    content: "\f1a0" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:435 */
.fa-reddit:before {
    content: "\f1a1" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:436 */
.fa-reddit-square:before {
    content: "\f1a2" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:437 */
.fa-stumbleupon-circle:before {
    content: "\f1a3" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:438 */
.fa-stumbleupon:before {
    content: "\f1a4" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:439 */
.fa-delicious:before {
    content: "\f1a5" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:440 */
.fa-digg:before {
    content: "\f1a6" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:441 */
.fa-pied-piper:before {
    content: "\f1a7" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:442 */
.fa-pied-piper-alt:before {
    content: "\f1a8" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:443 */
.fa-drupal:before {
    content: "\f1a9" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:444 */
.fa-joomla:before {
    content: "\f1aa" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:445 */
.fa-language:before {
    content: "\f1ab" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:446 */
.fa-fax:before {
    content: "\f1ac" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:447 */
.fa-building:before {
    content: "\f1ad" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:448 */
.fa-child:before {
    content: "\f1ae" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:449 */
.fa-paw:before {
    content: "\f1b0" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:450 */
.fa-spoon:before {
    content: "\f1b1" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:451 */
.fa-cube:before {
    content: "\f1b2" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:452 */
.fa-cubes:before {
    content: "\f1b3" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:453 */
.fa-behance:before {
    content: "\f1b4" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:454 */
.fa-behance-square:before {
    content: "\f1b5" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:455 */
.fa-steam:before {
    content: "\f1b6" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:456 */
.fa-steam-square:before {
    content: "\f1b7" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:457 */
.fa-recycle:before {
    content: "\f1b8" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:458 */
.fa-automobile:before,
.fa-car:before {
    content: "\f1b9" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:460 */
.fa-cab:before,
.fa-taxi:before {
    content: "\f1ba" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:462 */
.fa-tree:before {
    content: "\f1bb" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:463 */
.fa-spotify:before {
    content: "\f1bc" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:464 */
.fa-deviantart:before {
    content: "\f1bd" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:465 */
.fa-soundcloud:before {
    content: "\f1be" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:466 */
.fa-database:before {
    content: "\f1c0" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:467 */
.fa-file-pdf-o:before {
    content: "\f1c1" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:468 */
.fa-file-word-o:before {
    content: "\f1c2" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:469 */
.fa-file-excel-o:before {
    content: "\f1c3" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:470 */
.fa-file-powerpoint-o:before {
    content: "\f1c4" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:471 */
.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
    content: "\f1c5" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:474 */
.fa-file-zip-o:before,
.fa-file-archive-o:before {
    content: "\f1c6" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:476 */
.fa-file-sound-o:before,
.fa-file-audio-o:before {
    content: "\f1c7" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:478 */
.fa-file-movie-o:before,
.fa-file-video-o:before {
    content: "\f1c8" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:480 */
.fa-file-code-o:before {
    content: "\f1c9" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:481 */
.fa-vine:before {
    content: "\f1ca" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:482 */
.fa-codepen:before {
    content: "\f1cb" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:483 */
.fa-jsfiddle:before {
    content: "\f1cc" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:484 */
.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
    content: "\f1cd" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:489 */
.fa-circle-o-notch:before {
    content: "\f1ce" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:490 */
.fa-ra:before,
.fa-rebel:before {
    content: "\f1d0" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:492 */
.fa-ge:before,
.fa-empire:before {
    content: "\f1d1" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:494 */
.fa-git-square:before {
    content: "\f1d2" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:495 */
.fa-git:before {
    content: "\f1d3" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:496 */
.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
    content: "\f1d4" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:499 */
.fa-tencent-weibo:before {
    content: "\f1d5" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:500 */
.fa-qq:before {
    content: "\f1d6" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:501 */
.fa-wechat:before,
.fa-weixin:before {
    content: "\f1d7" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:503 */
.fa-send:before,
.fa-paper-plane:before {
    content: "\f1d8" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:505 */
.fa-send-o:before,
.fa-paper-plane-o:before {
    content: "\f1d9" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:507 */
.fa-history:before {
    content: "\f1da" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:508 */
.fa-circle-thin:before {
    content: "\f1db" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:509 */
.fa-header:before {
    content: "\f1dc" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:510 */
.fa-paragraph:before {
    content: "\f1dd" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:511 */
.fa-sliders:before {
    content: "\f1de" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:512 */
.fa-share-alt:before {
    content: "\f1e0" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:513 */
.fa-share-alt-square:before {
    content: "\f1e1" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:514 */
.fa-bomb:before {
    content: "\f1e2" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:515 */
.fa-soccer-ball-o:before,
.fa-futbol-o:before {
    content: "\f1e3" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:517 */
.fa-tty:before {
    content: "\f1e4" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:518 */
.fa-binoculars:before {
    content: "\f1e5" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:519 */
.fa-plug:before {
    content: "\f1e6" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:520 */
.fa-slideshare:before {
    content: "\f1e7" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:521 */
.fa-twitch:before {
    content: "\f1e8" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:522 */
.fa-yelp:before {
    content: "\f1e9" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:523 */
.fa-newspaper-o:before {
    content: "\f1ea" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:524 */
.fa-wifi:before {
    content: "\f1eb" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:525 */
.fa-calculator:before {
    content: "\f1ec" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:526 */
.fa-paypal:before {
    content: "\f1ed" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:527 */
.fa-google-wallet:before {
    content: "\f1ee" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:528 */
.fa-cc-visa:before {
    content: "\f1f0" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:529 */
.fa-cc-mastercard:before {
    content: "\f1f1" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:530 */
.fa-cc-discover:before {
    content: "\f1f2" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:531 */
.fa-cc-amex:before {
    content: "\f1f3" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:532 */
.fa-cc-paypal:before {
    content: "\f1f4" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:533 */
.fa-cc-stripe:before {
    content: "\f1f5" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:534 */
.fa-bell-slash:before {
    content: "\f1f6" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:535 */
.fa-bell-slash-o:before {
    content: "\f1f7" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:536 */
.fa-trash:before {
    content: "\f1f8" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:537 */
.fa-copyright:before {
    content: "\f1f9" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:538 */
.fa-at:before {
    content: "\f1fa" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:539 */
.fa-eyedropper:before {
    content: "\f1fb" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:540 */
.fa-paint-brush:before {
    content: "\f1fc" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:541 */
.fa-birthday-cake:before {
    content: "\f1fd" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:542 */
.fa-area-chart:before {
    content: "\f1fe" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:543 */
.fa-pie-chart:before {
    content: "\f200" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:544 */
.fa-line-chart:before {
    content: "\f201" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:545 */
.fa-lastfm:before {
    content: "\f202" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:546 */
.fa-lastfm-square:before {
    content: "\f203" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:547 */
.fa-toggle-off:before {
    content: "\f204" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:548 */
.fa-toggle-on:before {
    content: "\f205" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:549 */
.fa-bicycle:before {
    content: "\f206" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:550 */
.fa-bus:before {
    content: "\f207" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:551 */
.fa-ioxhost:before {
    content: "\f208" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:552 */
.fa-angellist:before {
    content: "\f209" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:553 */
.fa-cc:before {
    content: "\f20a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:554 */
.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
    content: "\f20b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:557 */
.fa-meanpath:before {
    content: "\f20c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:558 */
.fa-buysellads:before {
    content: "\f20d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:559 */
.fa-connectdevelop:before {
    content: "\f20e" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:560 */
.fa-dashcube:before {
    content: "\f210" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:561 */
.fa-forumbee:before {
    content: "\f211" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:562 */
.fa-leanpub:before {
    content: "\f212" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:563 */
.fa-sellsy:before {
    content: "\f213" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:564 */
.fa-shirtsinbulk:before {
    content: "\f214" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:565 */
.fa-simplybuilt:before {
    content: "\f215" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:566 */
.fa-skyatlas:before {
    content: "\f216" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:567 */
.fa-cart-plus:before {
    content: "\f217" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:568 */
.fa-cart-arrow-down:before {
    content: "\f218" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:569 */
.fa-diamond:before {
    content: "\f219" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:570 */
.fa-ship:before {
    content: "\f21a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:571 */
.fa-user-secret:before {
    content: "\f21b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:572 */
.fa-motorcycle:before {
    content: "\f21c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:573 */
.fa-street-view:before {
    content: "\f21d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:574 */
.fa-heartbeat:before {
    content: "\f21e" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:575 */
.fa-venus:before {
    content: "\f221" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:576 */
.fa-mars:before {
    content: "\f222" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:577 */
.fa-mercury:before {
    content: "\f223" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:578 */
.fa-intersex:before,
.fa-transgender:before {
    content: "\f224" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:580 */
.fa-transgender-alt:before {
    content: "\f225" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:581 */
.fa-venus-double:before {
    content: "\f226" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:582 */
.fa-mars-double:before {
    content: "\f227" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:583 */
.fa-venus-mars:before {
    content: "\f228" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:584 */
.fa-mars-stroke:before {
    content: "\f229" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:585 */
.fa-mars-stroke-v:before {
    content: "\f22a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:586 */
.fa-mars-stroke-h:before {
    content: "\f22b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:587 */
.fa-neuter:before {
    content: "\f22c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:588 */
.fa-genderless:before {
    content: "\f22d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:589 */
.fa-facebook-official:before {
    content: "\f230" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:590 */
.fa-pinterest-p:before {
    content: "\f231" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:591 */
.fa-whatsapp:before {
    content: "\f232" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:592 */
.fa-server:before {
    content: "\f233" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:593 */
.fa-user-plus:before {
    content: "\f234" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:594 */
.fa-user-times:before {
    content: "\f235" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:595 */
.fa-hotel:before,
.fa-bed:before {
    content: "\f236" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:597 */
.fa-viacoin:before {
    content: "\f237" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:598 */
.fa-train:before {
    content: "\f238" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:599 */
.fa-subway:before {
    content: "\f239" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:600 */
.fa-medium:before {
    content: "\f23a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:601 */
.fa-yc:before,
.fa-y-combinator:before {
    content: "\f23b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:603 */
.fa-optin-monster:before {
    content: "\f23c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:604 */
.fa-opencart:before {
    content: "\f23d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:605 */
.fa-expeditedssl:before {
    content: "\f23e" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:606 */
.fa-battery-4:before,
.fa-battery-full:before {
    content: "\f240" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:608 */
.fa-battery-3:before,
.fa-battery-three-quarters:before {
    content: "\f241" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:610 */
.fa-battery-2:before,
.fa-battery-half:before {
    content: "\f242" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:612 */
.fa-battery-1:before,
.fa-battery-quarter:before {
    content: "\f243" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:614 */
.fa-battery-0:before,
.fa-battery-empty:before {
    content: "\f244" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:616 */
.fa-mouse-pointer:before {
    content: "\f245" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:617 */
.fa-i-cursor:before {
    content: "\f246" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:618 */
.fa-object-group:before {
    content: "\f247" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:619 */
.fa-object-ungroup:before {
    content: "\f248" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:620 */
.fa-sticky-note:before {
    content: "\f249" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:621 */
.fa-sticky-note-o:before {
    content: "\f24a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:622 */
.fa-cc-jcb:before {
    content: "\f24b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:623 */
.fa-cc-diners-club:before {
    content: "\f24c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:624 */
.fa-clone:before {
    content: "\f24d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:625 */
.fa-balance-scale:before {
    content: "\f24e" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:626 */
.fa-hourglass-o:before {
    content: "\f250" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:627 */
.fa-hourglass-1:before,
.fa-hourglass-start:before {
    content: "\f251" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:629 */
.fa-hourglass-2:before,
.fa-hourglass-half:before {
    content: "\f252" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:631 */
.fa-hourglass-3:before,
.fa-hourglass-end:before {
    content: "\f253" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:633 */
.fa-hourglass:before {
    content: "\f254" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:634 */
.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
    content: "\f255" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:636 */
.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
    content: "\f256" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:638 */
.fa-hand-scissors-o:before {
    content: "\f257" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:639 */
.fa-hand-lizard-o:before {
    content: "\f258" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:640 */
.fa-hand-spock-o:before {
    content: "\f259" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:641 */
.fa-hand-pointer-o:before {
    content: "\f25a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:642 */
.fa-hand-peace-o:before {
    content: "\f25b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:643 */
.fa-trademark:before {
    content: "\f25c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:644 */
.fa-registered:before {
    content: "\f25d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:645 */
.fa-creative-commons:before {
    content: "\f25e" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:646 */
.fa-gg:before {
    content: "\f260" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:647 */
.fa-gg-circle:before {
    content: "\f261" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:648 */
.fa-tripadvisor:before {
    content: "\f262" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:649 */
.fa-odnoklassniki:before {
    content: "\f263" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:650 */
.fa-odnoklassniki-square:before {
    content: "\f264" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:651 */
.fa-get-pocket:before {
    content: "\f265" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:652 */
.fa-wikipedia-w:before {
    content: "\f266" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:653 */
.fa-safari:before {
    content: "\f267" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:654 */
.fa-chrome:before {
    content: "\f268" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:655 */
.fa-firefox:before {
    content: "\f269" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:656 */
.fa-opera:before {
    content: "\f26a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:657 */
.fa-internet-explorer:before {
    content: "\f26b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:658 */
.fa-tv:before,
.fa-television:before {
    content: "\f26c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:660 */
.fa-contao:before {
    content: "\f26d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:661 */
.fa-500px:before {
    content: "\f26e" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:662 */
.fa-amazon:before {
    content: "\f270" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:663 */
.fa-calendar-plus-o:before {
    content: "\f271" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:664 */
.fa-calendar-minus-o:before {
    content: "\f272" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:665 */
.fa-calendar-times-o:before {
    content: "\f273" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:666 */
.fa-calendar-check-o:before {
    content: "\f274" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:667 */
.fa-industry:before {
    content: "\f275" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:668 */
.fa-map-pin:before {
    content: "\f276" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:669 */
.fa-map-signs:before {
    content: "\f277" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:670 */
.fa-map-o:before {
    content: "\f278" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:671 */
.fa-map:before {
    content: "\f279" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:672 */
.fa-commenting:before {
    content: "\f27a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:673 */
.fa-commenting-o:before {
    content: "\f27b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:674 */
.fa-houzz:before {
    content: "\f27c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:675 */
.fa-vimeo:before {
    content: "\f27d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:676 */
.fa-black-tie:before {
    content: "\f27e" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:677 */
.fa-fonticons:before {
    content: "\f280" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/src/all.scss:20 */
.x-fa:before {
    font-family: FontAwesome !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:3 */
@font-face {
    font-family: 'ExtJS';
    src: url('../../classic/resources/font-ext/fonts/ExtJS.eot?-tqegh9');
    src: url('../../classic/resources/font-ext/fonts/ExtJS.eot?#iefix-tqegh9') format('embedded-opentype'), url('../../classic/resources/font-ext/fonts/ExtJS.ttf?-tqegh9') format('truetype'), url('../../classic/resources/font-ext/fonts/ExtJS.woff?-tqegh9') format('woff'), url('../../classic/resources/font-ext/fonts/ExtJS.svg?-tqegh9#ExtJS') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:14 */
.ext {
    font-family: ExtJS;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:18 */
.ext-sencha:before {
    content: "\e61e";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:21 */
.ext-checkbox-checked:before {
    content: "\e613";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:24 */
.ext-checkbox-unchecked:before {
    content: "\e614";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:27 */
.ext-chevron-left:before {
    content: "\e615";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:30 */
.ext-chevron-right:before {
    content: "\e616";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:33 */
.ext-double-chevron-left:before {
    content: "\e617";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:36 */
.ext-double-chevron-right:before {
    content: "\e618";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:39 */
.ext-sort-down:before {
    content: "\e619";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:42 */
.ext-sort-up:before {
    content: "\e61a";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:45 */
.ext-spinner-down:before {
    content: "\e61b";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:48 */
.ext-spinner-up:before {
    content: "\e61c";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:51 */
.ext-square-edit:before {
    content: "\e61d";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:54 */
.ext-equals-vertical:before {
    content: "\e612";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:57 */
.ext-collapse:before {
    content: "\e600";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:60 */
.ext-columns:before {
    content: "\e601";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:63 */
.ext-dirty:before {
    content: "\e602";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:66 */
.ext-dirty-rtl:before {
    content: "\e603";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:69 */
.ext-edit-html:before {
    content: "\e604";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:72 */
.ext-equals:before {
    content: "\e605";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:75 */
.ext-expand:before {
    content: "\e606";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:78 */
.ext-group-by:before {
    content: "\e607";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:81 */
.ext-minimize:before {
    content: "\e608";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:84 */
.ext-nw-handle:before {
    content: "\e609";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:87 */
.ext-ne-handle:before {
    content: "\e60a";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:90 */
.ext-sw-handle:before {
    content: "\e60b";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:93 */
.ext-se-handle:before {
    content: "\e60c";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:96 */
.ext-text-background-color:before {
    content: "\e60d";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:99 */
.ext-text-color:before {
    content: "\e60e";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:102 */
.ext-text-decrease:before {
    content: "\e60f";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:105 */
.ext-text-increase:before {
    content: "\e610";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:108 */
.ext-unpin:before {
    content: "\e611";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/classic/theme-triton/sass/src/Component.scss:3 */
@font-face {
    font-family: 'Open Sans';
    src: url('../../resources/fonts/OpenSans-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/classic/theme-triton/sass/src/Component.scss:10 */
@font-face {
    font-family: 'Open Sans';
    src: url('../../resources/fonts/OpenSans-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/classic/theme-triton/sass/src/Component.scss:17 */
@font-face {
    font-family: 'Open Sans';
    src: url('../../resources/fonts/OpenSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/classic/theme-triton/sass/src/Component.scss:24 */
@font-face {
    font-family: 'Open Sans';
    src: url('../../resources/fonts/OpenSans-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/classic/theme-triton/sass/src/Component.scss:31 */
@font-face {
    font-family: 'Open Sans';
    src: url('../../resources/fonts/OpenSans-Semibold.ttf');
    font-weight: 600;
    font-style: normal;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/classic/theme-triton/sass/src/Component.scss:38 */
@font-face {
    font-family: 'Open Sans';
    src: url('../../resources/fonts/OpenSans-SemiboldItalic.ttf');
    font-weight: 600;
    font-style: italic;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/classic/theme-triton/sass/src/Component.scss:45 */
@font-face {
    font-family: 'Open Sans';
    src: url('../../resources/fonts/OpenSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/classic/theme-triton/sass/src/Component.scss:52 */
@font-face {
    font-family: 'Open Sans';
    src: url('../../resources/fonts/OpenSans-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/classic/theme-triton/sass/src/Component.scss:59 */
@font-face {
    font-family: 'Open Sans';
    src: url('../../resources/fonts/OpenSans-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/classic/theme-triton/sass/src/Component.scss:66 */
@font-face {
    font-family: 'Open Sans';
    src: url('../../resources/fonts/OpenSans-ExtraBoldItalic.ttf');
    font-weight: 800;
    font-style: italic;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/classic/theme-triton/sass/src/menu/Menu.scss:1 */
.x-menu-item-active .x-menu-item-text {
    font-weight: 400;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/classic/theme-triton/sass/src/tab/Tab.scss:1 */
.x-tab-close-btn:before {
    display: block;
    width: 16px;
    line-height: 16px;
    text-align: center;
}