/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:402 */
.fa-gittip:before,
.fa-gratipay:before {
    content: "\f184" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:404 */
.fa-sun-o:before {
    content: "\f185" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:405 */
.fa-moon-o:before {
    content: "\f186" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:406 */
.fa-archive:before {
    content: "\f187" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:407 */
.fa-bug:before {
    content: "\f188" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:408 */
.fa-vk:before {
    content: "\f189" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:409 */
.fa-weibo:before {
    content: "\f18a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:410 */
.fa-renren:before {
    content: "\f18b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:411 */
.fa-pagelines:before {
    content: "\f18c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:412 */
.fa-stack-exchange:before {
    content: "\f18d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:413 */
.fa-arrow-circle-o-right:before {
    content: "\f18e" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:414 */
.fa-arrow-circle-o-left:before {
    content: "\f190" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:415 */
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
    content: "\f191" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:417 */
.fa-dot-circle-o:before {
    content: "\f192" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:418 */
.fa-wheelchair:before {
    content: "\f193" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:419 */
.fa-vimeo-square:before {
    content: "\f194" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:420 */
.fa-turkish-lira:before,
.fa-try:before {
    content: "\f195" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:422 */
.fa-plus-square-o:before {
    content: "\f196" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:423 */
.fa-space-shuttle:before {
    content: "\f197" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:424 */
.fa-slack:before {
    content: "\f198" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:425 */
.fa-envelope-square:before {
    content: "\f199" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:426 */
.fa-wordpress:before {
    content: "\f19a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:427 */
.fa-openid:before {
    content: "\f19b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:428 */
.fa-institution:before,
.fa-bank:before,
.fa-university:before {
    content: "\f19c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:431 */
.fa-mortar-board:before,
.fa-graduation-cap:before {
    content: "\f19d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:433 */
.fa-yahoo:before {
    content: "\f19e" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:434 */
.fa-google:before {
    content: "\f1a0" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:435 */
.fa-reddit:before {
    content: "\f1a1" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:436 */
.fa-reddit-square:before {
    content: "\f1a2" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:437 */
.fa-stumbleupon-circle:before {
    content: "\f1a3" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:438 */
.fa-stumbleupon:before {
    content: "\f1a4" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:439 */
.fa-delicious:before {
    content: "\f1a5" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:440 */
.fa-digg:before {
    content: "\f1a6" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:441 */
.fa-pied-piper:before {
    content: "\f1a7" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:442 */
.fa-pied-piper-alt:before {
    content: "\f1a8" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:443 */
.fa-drupal:before {
    content: "\f1a9" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:444 */
.fa-joomla:before {
    content: "\f1aa" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:445 */
.fa-language:before {
    content: "\f1ab" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:446 */
.fa-fax:before {
    content: "\f1ac" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:447 */
.fa-building:before {
    content: "\f1ad" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:448 */
.fa-child:before {
    content: "\f1ae" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:449 */
.fa-paw:before {
    content: "\f1b0" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:450 */
.fa-spoon:before {
    content: "\f1b1" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:451 */
.fa-cube:before {
    content: "\f1b2" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:452 */
.fa-cubes:before {
    content: "\f1b3" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:453 */
.fa-behance:before {
    content: "\f1b4" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:454 */
.fa-behance-square:before {
    content: "\f1b5" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:455 */
.fa-steam:before {
    content: "\f1b6" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:456 */
.fa-steam-square:before {
    content: "\f1b7" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:457 */
.fa-recycle:before {
    content: "\f1b8" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:458 */
.fa-automobile:before,
.fa-car:before {
    content: "\f1b9" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:460 */
.fa-cab:before,
.fa-taxi:before {
    content: "\f1ba" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:462 */
.fa-tree:before {
    content: "\f1bb" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:463 */
.fa-spotify:before {
    content: "\f1bc" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:464 */
.fa-deviantart:before {
    content: "\f1bd" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:465 */
.fa-soundcloud:before {
    content: "\f1be" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:466 */
.fa-database:before {
    content: "\f1c0" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:467 */
.fa-file-pdf-o:before {
    content: "\f1c1" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:468 */
.fa-file-word-o:before {
    content: "\f1c2" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:469 */
.fa-file-excel-o:before {
    content: "\f1c3" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:470 */
.fa-file-powerpoint-o:before {
    content: "\f1c4" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:471 */
.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
    content: "\f1c5" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:474 */
.fa-file-zip-o:before,
.fa-file-archive-o:before {
    content: "\f1c6" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:476 */
.fa-file-sound-o:before,
.fa-file-audio-o:before {
    content: "\f1c7" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:478 */
.fa-file-movie-o:before,
.fa-file-video-o:before {
    content: "\f1c8" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:480 */
.fa-file-code-o:before {
    content: "\f1c9" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:481 */
.fa-vine:before {
    content: "\f1ca" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:482 */
.fa-codepen:before {
    content: "\f1cb" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:483 */
.fa-jsfiddle:before {
    content: "\f1cc" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:484 */
.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
    content: "\f1cd" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:489 */
.fa-circle-o-notch:before {
    content: "\f1ce" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:490 */
.fa-ra:before,
.fa-rebel:before {
    content: "\f1d0" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:492 */
.fa-ge:before,
.fa-empire:before {
    content: "\f1d1" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:494 */
.fa-git-square:before {
    content: "\f1d2" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:495 */
.fa-git:before {
    content: "\f1d3" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:496 */
.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
    content: "\f1d4" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:499 */
.fa-tencent-weibo:before {
    content: "\f1d5" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:500 */
.fa-qq:before {
    content: "\f1d6" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:501 */
.fa-wechat:before,
.fa-weixin:before {
    content: "\f1d7" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:503 */
.fa-send:before,
.fa-paper-plane:before {
    content: "\f1d8" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:505 */
.fa-send-o:before,
.fa-paper-plane-o:before {
    content: "\f1d9" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:507 */
.fa-history:before {
    content: "\f1da" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:508 */
.fa-circle-thin:before {
    content: "\f1db" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:509 */
.fa-header:before {
    content: "\f1dc" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:510 */
.fa-paragraph:before {
    content: "\f1dd" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:511 */
.fa-sliders:before {
    content: "\f1de" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:512 */
.fa-share-alt:before {
    content: "\f1e0" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:513 */
.fa-share-alt-square:before {
    content: "\f1e1" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:514 */
.fa-bomb:before {
    content: "\f1e2" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:515 */
.fa-soccer-ball-o:before,
.fa-futbol-o:before {
    content: "\f1e3" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:517 */
.fa-tty:before {
    content: "\f1e4" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:518 */
.fa-binoculars:before {
    content: "\f1e5" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:519 */
.fa-plug:before {
    content: "\f1e6" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:520 */
.fa-slideshare:before {
    content: "\f1e7" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:521 */
.fa-twitch:before {
    content: "\f1e8" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:522 */
.fa-yelp:before {
    content: "\f1e9" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:523 */
.fa-newspaper-o:before {
    content: "\f1ea" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:524 */
.fa-wifi:before {
    content: "\f1eb" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:525 */
.fa-calculator:before {
    content: "\f1ec" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:526 */
.fa-paypal:before {
    content: "\f1ed" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:527 */
.fa-google-wallet:before {
    content: "\f1ee" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:528 */
.fa-cc-visa:before {
    content: "\f1f0" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:529 */
.fa-cc-mastercard:before {
    content: "\f1f1" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:530 */
.fa-cc-discover:before {
    content: "\f1f2" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:531 */
.fa-cc-amex:before {
    content: "\f1f3" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:532 */
.fa-cc-paypal:before {
    content: "\f1f4" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:533 */
.fa-cc-stripe:before {
    content: "\f1f5" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:534 */
.fa-bell-slash:before {
    content: "\f1f6" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:535 */
.fa-bell-slash-o:before {
    content: "\f1f7" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:536 */
.fa-trash:before {
    content: "\f1f8" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:537 */
.fa-copyright:before {
    content: "\f1f9" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:538 */
.fa-at:before {
    content: "\f1fa" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:539 */
.fa-eyedropper:before {
    content: "\f1fb" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:540 */
.fa-paint-brush:before {
    content: "\f1fc" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:541 */
.fa-birthday-cake:before {
    content: "\f1fd" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:542 */
.fa-area-chart:before {
    content: "\f1fe" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:543 */
.fa-pie-chart:before {
    content: "\f200" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:544 */
.fa-line-chart:before {
    content: "\f201" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:545 */
.fa-lastfm:before {
    content: "\f202" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:546 */
.fa-lastfm-square:before {
    content: "\f203" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:547 */
.fa-toggle-off:before {
    content: "\f204" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:548 */
.fa-toggle-on:before {
    content: "\f205" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:549 */
.fa-bicycle:before {
    content: "\f206" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:550 */
.fa-bus:before {
    content: "\f207" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:551 */
.fa-ioxhost:before {
    content: "\f208" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:552 */
.fa-angellist:before {
    content: "\f209" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:553 */
.fa-cc:before {
    content: "\f20a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:554 */
.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
    content: "\f20b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:557 */
.fa-meanpath:before {
    content: "\f20c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:558 */
.fa-buysellads:before {
    content: "\f20d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:559 */
.fa-connectdevelop:before {
    content: "\f20e" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:560 */
.fa-dashcube:before {
    content: "\f210" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:561 */
.fa-forumbee:before {
    content: "\f211" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:562 */
.fa-leanpub:before {
    content: "\f212" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:563 */
.fa-sellsy:before {
    content: "\f213" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:564 */
.fa-shirtsinbulk:before {
    content: "\f214" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:565 */
.fa-simplybuilt:before {
    content: "\f215" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:566 */
.fa-skyatlas:before {
    content: "\f216" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:567 */
.fa-cart-plus:before {
    content: "\f217" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:568 */
.fa-cart-arrow-down:before {
    content: "\f218" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:569 */
.fa-diamond:before {
    content: "\f219" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:570 */
.fa-ship:before {
    content: "\f21a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:571 */
.fa-user-secret:before {
    content: "\f21b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:572 */
.fa-motorcycle:before {
    content: "\f21c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:573 */
.fa-street-view:before {
    content: "\f21d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:574 */
.fa-heartbeat:before {
    content: "\f21e" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:575 */
.fa-venus:before {
    content: "\f221" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:576 */
.fa-mars:before {
    content: "\f222" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:577 */
.fa-mercury:before {
    content: "\f223" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:578 */
.fa-intersex:before,
.fa-transgender:before {
    content: "\f224" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:580 */
.fa-transgender-alt:before {
    content: "\f225" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:581 */
.fa-venus-double:before {
    content: "\f226" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:582 */
.fa-mars-double:before {
    content: "\f227" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:583 */
.fa-venus-mars:before {
    content: "\f228" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:584 */
.fa-mars-stroke:before {
    content: "\f229" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:585 */
.fa-mars-stroke-v:before {
    content: "\f22a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:586 */
.fa-mars-stroke-h:before {
    content: "\f22b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:587 */
.fa-neuter:before {
    content: "\f22c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:588 */
.fa-genderless:before {
    content: "\f22d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:589 */
.fa-facebook-official:before {
    content: "\f230" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:590 */
.fa-pinterest-p:before {
    content: "\f231" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:591 */
.fa-whatsapp:before {
    content: "\f232" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:592 */
.fa-server:before {
    content: "\f233" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:593 */
.fa-user-plus:before {
    content: "\f234" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:594 */
.fa-user-times:before {
    content: "\f235" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:595 */
.fa-hotel:before,
.fa-bed:before {
    content: "\f236" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:597 */
.fa-viacoin:before {
    content: "\f237" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:598 */
.fa-train:before {
    content: "\f238" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:599 */
.fa-subway:before {
    content: "\f239" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:600 */
.fa-medium:before {
    content: "\f23a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:601 */
.fa-yc:before,
.fa-y-combinator:before {
    content: "\f23b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:603 */
.fa-optin-monster:before {
    content: "\f23c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:604 */
.fa-opencart:before {
    content: "\f23d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:605 */
.fa-expeditedssl:before {
    content: "\f23e" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:606 */
.fa-battery-4:before,
.fa-battery-full:before {
    content: "\f240" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:608 */
.fa-battery-3:before,
.fa-battery-three-quarters:before {
    content: "\f241" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:610 */
.fa-battery-2:before,
.fa-battery-half:before {
    content: "\f242" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:612 */
.fa-battery-1:before,
.fa-battery-quarter:before {
    content: "\f243" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:614 */
.fa-battery-0:before,
.fa-battery-empty:before {
    content: "\f244" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:616 */
.fa-mouse-pointer:before {
    content: "\f245" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:617 */
.fa-i-cursor:before {
    content: "\f246" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:618 */
.fa-object-group:before {
    content: "\f247" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:619 */
.fa-object-ungroup:before {
    content: "\f248" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:620 */
.fa-sticky-note:before {
    content: "\f249" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:621 */
.fa-sticky-note-o:before {
    content: "\f24a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:622 */
.fa-cc-jcb:before {
    content: "\f24b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:623 */
.fa-cc-diners-club:before {
    content: "\f24c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:624 */
.fa-clone:before {
    content: "\f24d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:625 */
.fa-balance-scale:before {
    content: "\f24e" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:626 */
.fa-hourglass-o:before {
    content: "\f250" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:627 */
.fa-hourglass-1:before,
.fa-hourglass-start:before {
    content: "\f251" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:629 */
.fa-hourglass-2:before,
.fa-hourglass-half:before {
    content: "\f252" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:631 */
.fa-hourglass-3:before,
.fa-hourglass-end:before {
    content: "\f253" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:633 */
.fa-hourglass:before {
    content: "\f254" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:634 */
.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
    content: "\f255" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:636 */
.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
    content: "\f256" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:638 */
.fa-hand-scissors-o:before {
    content: "\f257" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:639 */
.fa-hand-lizard-o:before {
    content: "\f258" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:640 */
.fa-hand-spock-o:before {
    content: "\f259" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:641 */
.fa-hand-pointer-o:before {
    content: "\f25a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:642 */
.fa-hand-peace-o:before {
    content: "\f25b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:643 */
.fa-trademark:before {
    content: "\f25c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:644 */
.fa-registered:before {
    content: "\f25d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:645 */
.fa-creative-commons:before {
    content: "\f25e" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:646 */
.fa-gg:before {
    content: "\f260" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:647 */
.fa-gg-circle:before {
    content: "\f261" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:648 */
.fa-tripadvisor:before {
    content: "\f262" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:649 */
.fa-odnoklassniki:before {
    content: "\f263" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:650 */
.fa-odnoklassniki-square:before {
    content: "\f264" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:651 */
.fa-get-pocket:before {
    content: "\f265" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:652 */
.fa-wikipedia-w:before {
    content: "\f266" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:653 */
.fa-safari:before {
    content: "\f267" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:654 */
.fa-chrome:before {
    content: "\f268" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:655 */
.fa-firefox:before {
    content: "\f269" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:656 */
.fa-opera:before {
    content: "\f26a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:657 */
.fa-internet-explorer:before {
    content: "\f26b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:658 */
.fa-tv:before,
.fa-television:before {
    content: "\f26c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:660 */
.fa-contao:before {
    content: "\f26d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:661 */
.fa-500px:before {
    content: "\f26e" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:662 */
.fa-amazon:before {
    content: "\f270" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:663 */
.fa-calendar-plus-o:before {
    content: "\f271" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:664 */
.fa-calendar-minus-o:before {
    content: "\f272" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:665 */
.fa-calendar-times-o:before {
    content: "\f273" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:666 */
.fa-calendar-check-o:before {
    content: "\f274" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:667 */
.fa-industry:before {
    content: "\f275" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:668 */
.fa-map-pin:before {
    content: "\f276" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:669 */
.fa-map-signs:before {
    content: "\f277" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:670 */
.fa-map-o:before {
    content: "\f278" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:671 */
.fa-map:before {
    content: "\f279" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:672 */
.fa-commenting:before {
    content: "\f27a" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:673 */
.fa-commenting-o:before {
    content: "\f27b" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:674 */
.fa-houzz:before {
    content: "\f27c" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:675 */
.fa-vimeo:before {
    content: "\f27d" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:676 */
.fa-black-tie:before {
    content: "\f27e" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/etc/_icons.scss:677 */
.fa-fonticons:before {
    content: "\f280" !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-awesome/sass/src/all.scss:20 */
.x-fa:before {
    font-family: FontAwesome !important;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:3 */
@font-face {
    font-family: 'ExtJS';
    src: url('../../classic/resources/font-ext/fonts/ExtJS.eot?-tqegh9');
    src: url('../../classic/resources/font-ext/fonts/ExtJS.eot?#iefix-tqegh9') format('embedded-opentype'), url('../../classic/resources/font-ext/fonts/ExtJS.ttf?-tqegh9') format('truetype'), url('../../classic/resources/font-ext/fonts/ExtJS.woff?-tqegh9') format('woff'), url('../../classic/resources/font-ext/fonts/ExtJS.svg?-tqegh9#ExtJS') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:14 */
.ext {
    font-family: ExtJS;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:18 */
.ext-sencha:before {
    content: "\e61e";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:21 */
.ext-checkbox-checked:before {
    content: "\e613";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:24 */
.ext-checkbox-unchecked:before {
    content: "\e614";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:27 */
.ext-chevron-left:before {
    content: "\e615";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:30 */
.ext-chevron-right:before {
    content: "\e616";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:33 */
.ext-double-chevron-left:before {
    content: "\e617";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:36 */
.ext-double-chevron-right:before {
    content: "\e618";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:39 */
.ext-sort-down:before {
    content: "\e619";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:42 */
.ext-sort-up:before {
    content: "\e61a";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:45 */
.ext-spinner-down:before {
    content: "\e61b";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:48 */
.ext-spinner-up:before {
    content: "\e61c";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:51 */
.ext-square-edit:before {
    content: "\e61d";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:54 */
.ext-equals-vertical:before {
    content: "\e612";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:57 */
.ext-collapse:before {
    content: "\e600";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:60 */
.ext-columns:before {
    content: "\e601";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:63 */
.ext-dirty:before {
    content: "\e602";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:66 */
.ext-dirty-rtl:before {
    content: "\e603";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:69 */
.ext-edit-html:before {
    content: "\e604";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:72 */
.ext-equals:before {
    content: "\e605";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:75 */
.ext-expand:before {
    content: "\e606";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:78 */
.ext-group-by:before {
    content: "\e607";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:81 */
.ext-minimize:before {
    content: "\e608";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:84 */
.ext-nw-handle:before {
    content: "\e609";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:87 */
.ext-ne-handle:before {
    content: "\e60a";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:90 */
.ext-sw-handle:before {
    content: "\e60b";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:93 */
.ext-se-handle:before {
    content: "\e60c";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:96 */
.ext-text-background-color:before {
    content: "\e60d";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:99 */
.ext-text-color:before {
    content: "\e60e";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:102 */
.ext-text-decrease:before {
    content: "\e60f";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:105 */
.ext-text-increase:before {
    content: "\e610";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/font-ext/sass/src/all.scss:108 */
.ext-unpin:before {
    content: "\e611";
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/classic/theme-triton/sass/src/Component.scss:3 */
@font-face {
    font-family: 'Open Sans';
    src: url('../../resources/fonts/OpenSans-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/classic/theme-triton/sass/src/Component.scss:10 */
@font-face {
    font-family: 'Open Sans';
    src: url('../../resources/fonts/OpenSans-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/classic/theme-triton/sass/src/Component.scss:17 */
@font-face {
    font-family: 'Open Sans';
    src: url('../../resources/fonts/OpenSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/classic/theme-triton/sass/src/Component.scss:24 */
@font-face {
    font-family: 'Open Sans';
    src: url('../../resources/fonts/OpenSans-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/classic/theme-triton/sass/src/Component.scss:31 */
@font-face {
    font-family: 'Open Sans';
    src: url('../../resources/fonts/OpenSans-Semibold.ttf');
    font-weight: 600;
    font-style: normal;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/classic/theme-triton/sass/src/Component.scss:38 */
@font-face {
    font-family: 'Open Sans';
    src: url('../../resources/fonts/OpenSans-SemiboldItalic.ttf');
    font-weight: 600;
    font-style: italic;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/classic/theme-triton/sass/src/Component.scss:45 */
@font-face {
    font-family: 'Open Sans';
    src: url('../../resources/fonts/OpenSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/classic/theme-triton/sass/src/Component.scss:52 */
@font-face {
    font-family: 'Open Sans';
    src: url('../../resources/fonts/OpenSans-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/classic/theme-triton/sass/src/Component.scss:59 */
@font-face {
    font-family: 'Open Sans';
    src: url('../../resources/fonts/OpenSans-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/classic/theme-triton/sass/src/Component.scss:66 */
@font-face {
    font-family: 'Open Sans';
    src: url('../../resources/fonts/OpenSans-ExtraBoldItalic.ttf');
    font-weight: 800;
    font-style: italic;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/classic/theme-triton/sass/src/menu/Menu.scss:1 */
.x-menu-item-active .x-menu-item-text {
    font-weight: 400;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/ux/classic/sass/src/form/ItemSelector.scss:3 */
.x-form-multiselect-body .x-boundlist .x-mask {
    /* Styles used by Ext.ux.form.ItemSelector */
    background: none;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/ux/classic/sass/src/form/ItemSelector.scss:7 */
.x-form-itemselector-body .x-form-item {
    margin: 0;
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/ux/classic/sass/src/form/ItemSelector.scss:11 */
.x-form-itemselector-top {
    background-image: url(ux/images/itemselector/top.gif);
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/ux/classic/sass/src/form/ItemSelector.scss:14 */
.x-form-itemselector-up {
    background-image: url(ux/images/itemselector/up.gif);
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/ux/classic/sass/src/form/ItemSelector.scss:17 */
.x-form-itemselector-add {
    background-image: url(ux/images/itemselector/right.gif);
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/ux/classic/sass/src/form/ItemSelector.scss:20 */
.x-form-itemselector-remove {
    background-image: url(ux/images/itemselector/left.gif);
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/ux/classic/sass/src/form/ItemSelector.scss:23 */
.x-form-itemselector-down {
    background-image: url(ux/images/itemselector/down.gif);
}
/* /Users/mim/Documents/Projects/extjs/sencha/ext/packages/ux/classic/sass/src/form/ItemSelector.scss:26 */
.x-form-itemselector-bottom {
    background-image: url(ux/images/itemselector/bottom.gif);
}

.back-button, .back-button.x-btn-over {
    background-color: grey;
    border:none;
    
}

.back-button span {

}


